$accentColor = #007668

/* responsive breakpoints */
// $MQWide ?= 1440px // wide screen
// $MQNormal ?= 1280px // desktop
$MQNarrow = 1065px // narrow desktop / iPad
$MQMobile = 718px // wide mobile
$MQMobileNarrow = 1024px // narrow mobile

// layout
$navbarHeight = 3.2rem
$navbarMobileHeight = 3.2rem